body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0d1b2a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    width: 320px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 14px;
    text-align: center;
    backdrop-filter: blur(5px);
    /* padding-left: 25px;
    padding-right: 20px; */
}

input {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
}

button {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #4cc9f0;
    font-weight: bold;
    margin-bottom: 15px;
}

.temp {
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
}

.desc {
    opacity: 0.8;
    margin-bottom: 10px;
}
